PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/iodinevapor
JWT_SECRET=iodinevapor_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
UPLOAD_PATH=./public/uploads
MAX_FILE_SIZE=15728640
FRONTEND_URL=http://localhost:3000
SUPER_ADMIN_EMAIL=superadmin@iodinevapor.com
SUPER_ADMIN_PASSWORD=SuperAdmin@123
ADMIN_EMAIL=admin@iodinevapor.com
ADMIN_PASSWORD=Admin@123
